.pagetype-1{
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  max-width: 100%;
}
.pagetype-1 h1{
  padding: 10px;
  margin: 0px;
  background-color: brown;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  font-size: 25px;
}
.pagetype-1 p{
  margin: 5px;
  background-color: #151515;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  padding: 10px;
  line-height: 1.5;
}
.pagetype-1 hr{
  margin: 10px;
  background-color: transparent;
}
.pagetype-1 a{
  text-decoration: none;
  color: cyan;
  font-family: monospace;
  background-color: #252525;
  word-break: break-word;
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
}
.pagetype-1 a::after{
  content: "|🔗";
  color: white;
}
.page-title{
  color: white;
  padding: 5px;
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 0px solid black;
  background: linear-gradient(brown,#212121);
}


