

.pagetype-1{
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
.pagetype-1 h1{
  padding: 15px;
  margin: 0px;
  background-color: gray;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  font-style: "Arial";
}
.pagetype-1 p{
  margin: 0px;
  background-color: beige;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 15px;
}
.page-title{
  color: #212121;
  padding: 5px;
  font-family: Arial, Sans-Serif;
  border: 0px solid black;
  background-color: #333;
}
#headPage{
  background-image: url('/assets/bg2.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 10px;
  height: 400px;
}

