

.pagetype-1{
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #151515;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.pagetype-1 h1{
  padding: 10px;
  margin: 0px;
  background-color: #433;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
  font-size: 25px;
  font-style: "Arial";
}
.pagetype-1 p{
  margin: 0px;
  background-color: #151515;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  padding: 10px;
  width: inherit;
  line-height: 1.5;
}
.pagetype-1 hr{
  margin: 10px;
  background-color: transparent;
}
.pagetype-1 a{
  text-decoration: none;
  color: cyan;
  font-family: monospace;
  background-color: #212121;
  word-break: break-all;
  padding: 3px;
  border-radius: 5px;
}
.pagetype-1 a::after{
  content: "|🔗";
  color: white;
}
.page-title{
  color: white;
  padding: 5px;
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: 0px solid black;
  background-color: #433;
}

